@charset "utf-8";
.ajax_response
{
	display: inline-block;
}
a {
	color: #0f3581;
}
a:focus, a:hover {
	color: #001c54;
}
body {
	padding-top:45px;
	background-color: #242E45;
}
h1,h2,h3
{
	text-align: center;
}
pre {
	white-space: pre-wrap;
}
#main:before {
	height: 50px;
}
#main {
	background-color: #242E45;	
	color: white;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #ddd;
}
.well {
	background-color: #95A2C3;
	color: black;
}
.panel {
	color: black;
}
.start-hidden {
	display: none;
}
.start-invisible {
	visibility: hidden;
}
.logpre {
	display: block;
	font-family: monospace;
	white-space: pre-wrap;
	margin: 1em 0;
}
.tdcenter {
	text-align: center;
}
#navbar_login_btnshowmodallogin{
	color: black;
}
#navbar_login_btnlogout{
	color: black;
}
/* bootstrap override */
.modal-content {
	padding: 10px; /* from 20px */
}

#copy {
	color: #666666;
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}
#copy a {
	color: grey;
}
.table-hover > tbody > tr:hover{
	background-color: #a8c7e6
}
@media screen and (min-width: 768px){
	ul.nav {
		border-top: none;
	}
	
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
