<?php
/**
 *  @file settings.php.template
 *  @brief Global settings file for stuff. Numbers should be used as little as possible in the site and use this instead to help with consistency and safety.
 *  
 */
	$sitesettings['db_hostname'] = "localhost";
	$sitesettings['db_database'] = "isds454";
	$sitesettings['db_username'] = "isds454";
	$sitesettings['db_password'] = "isds454";
	
	$sitesettings['address'] 		= 'https://website/isds454/';
	$sitesettings['title'] 			= 'TicSys';
	$sitesettings['title_full'] 	= 'Ticket System';
	$sitesettings['attachment_max_s'] =	'2m';///< max file size for attachment
	$sitesettings['debug']			= 2;	///<0 = off, 1 = debug, 2 = verbose
	
	//these are the default meta tags that a pages has incase a page
	//does not fill them in.
	//opengraph - http://ogp.me/
	//twitter - https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary
	//twitter title,description,image is copied from opengraph
	$sitesettings['meta']['og:url']			= (isset($_SERVER['HTTPS']) ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";  //address in bar
	$sitesettings['meta']['og:title']		= $sitesettings['title'];
	$sitesettings['meta']['og:type']		= "website";
	$sitesettings['meta']['og:description']	= "Tickit System isds454";
	$sitesettings['meta']['og:image']		= '';
	$sitesettings['meta']['twitter:card']			= "summary";
	
	//$sitesettings['maintenance']				= "the Frontend is down for maintenance!"; ///< if set, offline
?>
